{% extends 'Menubar-Template.html' %} 
{% load static %}
{% block content %}
{% for scholar in scholars %}
  <article class="message is-success">
    <div class="message-header">
      <p>{{scholar.0.si_name}}</p>
      <i class="far fa-newspaper"></i>
    </div>
    <div class="message-body">
      <div class="hover01 column">
        <div>
          <figure> <a href="/viewHome/{{scholar.0.id}}"> <img src="{{scholar.0.si_photo_bg.url}}" alt="" /> </a> </figure>
        </div>
        <div>
     
    </div>
  </article>

    

{%endfor%}
<a href="/CreateScholar">
<div class="add-button">
  <i class="fa fa-2x fa-plus add-button__icon"></i>
  </div>
</a>

{% endblock %}