{% extends 'Menubar-Template.html' %} 
{% load static %}
{% block content %}
{% for scholar in scholars %}

  <article class="message is-success">
    <div class="message-header">
      <p>{{scholar.si_name}}</p>
      <i class="far fa-newspaper"></i>
    </div>
    <div class="message-body">
      <div class="hover01 column">
        <div>
          <figure> <a href="/secondAppilcationAdmin/{{scholar.id}}"> <img src="{{scholar.si_photo_bg.url}}" alt="" /> </a> </figure>
        </div>
        <div>
    </div>
  </article>




{%endfor%}
  <!--page-->

  <div class="level-item has-text-centered">
    <nav class="pagination" role="navigation" aria-label="pagination">
      <ul class="pagination-list">
        {%if scholars.paginator.num_pages > 1 %}
        {% for pagenumber in scholars.paginator.page_range %}
        <li>
          <a class="pagination-link 
          
          
          {% if scholars.number == pagenumber %}
          is-current 
    
          {% endif %}
    
    
          " aria-label="Goto page 1" href="?page={{pagenumber}}">{{pagenumber}}</a>
        </li>
        {% endfor %}
        {%endif%}
     
      </ul>
    </nav>
    </div>
    <!-- end page -->

{% endblock %}