{% extends 'Menubar-Template.html' %} 
{% load static %}
{% block content %}
{% csrf_token %}

{% for scholar in scholars %}
<link rel="stylesheet" href="{% static 'css/ApplistAdmin.css' %}?{% now " U" %}" />

    <div class="cardbox">
        <ul>
        <li><b>{{scholar.si_name}}</b></li> 
        </ul>
    </div>
    <div class="card">
        <img style="width : 1280px;" src="{{scholar.si_photo_bg.url}}" alt=""/>
    </div>
    <p style="text-indent: 130px;"><b>รายละเอียด: </b>{{scholar.si_description}}</p>
    <div class="cardbox">
        <ul>
            <li><b>รายชื่อผู้ยื่นสมัครขอทุนทั้งหมด</b></li>
        </ul>
    </div>

    <div class ="upload">
       
      <div class="box">
        <!-- หัว -->
      {% if check %}
      <div class="uploadBoxContainer">
       <h6 class="title is-6"> อัพโหลดไฟล์ *pdf </h6>
         <div class="uploadBox">
    <form action="/secondAppilcationAdmin/{{scholars.id}}" method="POST">
      {% csrf_token %}
    <div class="file has-name is-boxed">
      <label class="file-label">
        <input class="file-input" name="myPdf" id="myPdf" type="file" accept="application/pdf" onchange="javascript:updateList2()" onchange="previewFile()">
          <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
            <span class="file-label">
              Choose a file…
            </span>
          </span>
          <span class="file-name">
            <div id="fileList2">None.pdf </div>
          </span>
        </div>
      </label>
    </div>
      <div class="documentCoufirm">
        <input type="submit" value="ยืนยัน" class="button is-primary">
    
    </div>
    </form>
  </div>
  {%endif%}
  <!-- หาง -->
    <div class="cardbox-list">
        <ul>
          <li><b>คงเหลือ {{scholar.si_individual_amount}}/{{scholar.si_individual_amount}}</b></li>
        </ul>
    </div>
{%endfor%}   
    <div class="card-headstatus">
        <p><b>สถานะการดำเนินการ</b></p>
    </div>
    {% for listApp in listApps %}
        <div class="dropdown">
        {%if listApp.sa_status == 11 or listApp.sa_status == 20 or listApp.sa_status == 10%}
        <div class="dropdown is-not-hoverable" >
          <!--if 2 ผ่าน 
          <div class="dropdown is-hoverable" >-->
          <div class="dropdown-trigger" >
            <button class="button" style="background-color: #c2bcbcec; border-radius: 22px; font-size: 18px"  aria-haspopup="true" aria-controls="dropdown-menu5" width="100px">
              <span><b>{{listApp.sa_title_th}}{{listApp.sa_firstname_th}}  {{listApp.sa_lastname_th}}</b></span>
            </button>
            
          </div>
         
        </div>
        {%elif listApp.sa_status == 21 or listApp.sa_status == 30 or listApp.sa_status == 31 or listApp.sa_status == 41%}
        <div class="dropdown is-hoverable" >
          <!--if 2 ผ่าน 
          <div class="dropdown is-not-hoverable" >-->
          <div class="dropdown-trigger" >
            <button class="button" style="background-color: #c2bcbcec; border-radius: 22px; font-size: 18px"  aria-haspopup="true" aria-controls="dropdown-menu5" width="100px">
              <span><b>{{listApp.sa_title_th}}{{listApp.sa_firstname_th}}  {{listApp.sa_lastname_th}}</b></span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu5" role="menu">
            <div class="dropdown-content">
            
                 <table>
                  <thead class="threadd">
                      <tr>
                          
                          <th align="center" width="100px" height="20px" valign="middle">หัวข้อ</th>
                          <th align="center" width="100px" height="20px" valign="middle">คะแนน</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for key,value in listApp.sa_score_info.items %}
                    <tr>
                        <td align="center"><p>{{key}}</p></td>
                        <td align="center"><p>{{value}}</p></b></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
          </div>
        </div>
        {% endif %}
        {% if listApp.sa_status == 10 or listApp.sa_status == 11 or listApp.sa_status == 20%}
        <span class="cardbox-weight">
          <ul>
            <li><b>-</b></li>
          </ul>
        </span>
        {% elif listApp.sa_status == 21 or listApp.sa_status == 30 or listApp.sa_status == 31 or listApp.sa_status == 41%}
            <span class="cardbox-weight">
              <ul>
                <li><b>{{listApp.sa_score|floatformat:2}}</b></li>
              </ul>
            </span>
        {% endif %}
          <ul>
            {%if listApp.sa_status == 10 %}
            <li>
              <div class="conditionStatusOnProgress">
                <a href="/checkStatus/{{listApp.sa_si_id.id}}/{{listApp.sa_userid.id}}">แจ้งแก้ไขเอกสาร</a>
              </div>
            </li>
            {%elif listApp.sa_status == 11 %}
            <li>
              <div class="conditionStatusOnProgress">
                <a href="/checkStatus/{{listApp.sa_si_id.id}}/{{listApp.sa_userid.id}}">ตรวจสอบเอกสาร</a>
              </div>
            </li>
            {%elif listApp.sa_status == 20 %}
                <li>
                  <div class="conditionStatusNotPass"><b>เอกสารไม่ผ่านเงื่อนไข</b>
                  </div>
                </li>
            {%elif listApp.sa_status == 21 %}
                <li>
                  <div class="conditionStatusOnProgress">
                    <a href="/checkStatus/{{listApp.sa_si_id.id}}">สอบสัมภาษณ์ยังกดไม่ได้</a>
                  </div>
                </li>
            {%elif listApp.sa_status == 30 %}
                <li><div class="conditionStatusNotPass"><b>ไม่ผ่านรอบสัมภาษณ์</b></div></li>
            {%elif listApp.sa_status == 31 %}
                <li><div class="conditionStatusOnProgress"><b>ดำเนินการรับทุน</b></div></li>
            {%elif listApp.sa_status == 41 %}
                <li><div class="conditionStatusPass"><b>รับทุนเรียบร้อย</b></div></li>
            {% endif %}
          </ul>
          <!---</span>-->
      </div>
      
    {% endfor %}

      <!--page-->

<div class="level-item has-text-centered">
  <nav class="pagination" role="navigation" aria-label="pagination">
    <ul class="pagination-list">
      {%if listApps.paginator.num_pages > 1 %}
      {% for pagenumber in listApps.paginator.page_range %}
      <li>
        <a class="pagination-link 
        
        
        {% if listApps.number == pagenumber %}
        is-current 
  
        {% endif %}
  
  
        " aria-label="Goto page 1" href="?page={{pagenumber}}">{{pagenumber}}</a>
      </li>
      {% endfor %}
      {%endif%}
   
    </ul>
  </nav>
  </div>
  <!-- end page -->

  
  <!--<script type="text/javascript">
    $(document).ready(function () {
      $(".sidebar-btn").click(function () {
        $(".wrapper").toggleClass("collapse");
      });
    });
  </script>-->
{% endblock %}