{% extends 'Menubar-Template.html' %} 
{% load static %}
{% block content %}

{% for state in states %}
        <div class="cardforStatus">
          <div class = "progessConatainer">
            <div class="progressionInfomantHeader">
              {{state.sa_si_id.si_name}}
            </div>
             <div class="progressionInfomantDate">
              {{state.sa_si_id.si_create_time}}
            </div>
              <div class="progressionInfomantStatus">
              ผ่านการคัดเลือก
              {% if state.sa_status == 21 %}
                <button class="button is-danger"><p> ดาวน์โหลดเอกสาร </p></button>
              {% endif %}
            </div>
            
            <div class="progessBar">
          {% if state.sa_status == 11 %}
              <li class="active" >ยื่นเอกสารให้เจ้าหน้าที่</li>
              <li class="inprogess" >เจ้าหน้าที่ตรวจสอบเอกสาร</li>
              <li class="inprogess" >ผ่านการคัดเลือกสอบสัมภาษณ์</li>
              <li class="inprogess" >รับเงินทุนสนับสนุนการศึกษา</li>
          {% elif state.sa_status == 20 %}
              <li class="active" >ยื่นเอกสารให้เจ้าหน้าที่</li>
              <li class="inactive" >เจ้าหน้าที่ตรวจสอบเอกสาร</li>
              <li class="inactive" >ผ่านการคัดเลือกสอบสัมภาษณ์</li>
              <li class="inactive" >รับเงินทุนสนับสนุนการศึกษา</li>
          {% elif state.sa_status == 21 %}
              <li class="active" >ยื่นเอกสารให้เจ้าหน้าที่</li>
              <li class="active" >เจ้าหน้าที่ตรวจสอบเอกสาร</li>
              <li class="inprogess" >ผ่านการคัดเลือกสอบสัมภาษณ์</li>
              <li class="inprogess" >รับเงินทุนสนับสนุนการศึกษา</li>
          {% elif state.sa_status == 30 %}
              <li class="active" >ยื่นเอกสารให้เจ้าหน้าที่</li>
              <li class="active" >เจ้าหน้าที่ตรวจสอบเอกสาร</li>
              <li class="inactive" >ผ่านการคัดเลือกสอบสัมภาษณ์</li>
              <li class="inactive" >รับเงินทุนสนับสนุนการศึกษา</li>
          {% elif state.sa_status == 31 %}
              <li class="active" >ยื่นเอกสารให้เจ้าหน้าที่</li>
              <li class="active" >เจ้าหน้าที่ตรวจสอบเอกสาร</li>
              <li class="active" >ผ่านการคัดเลือกสอบสัมภาษณ์</li>
              <li class="inprogess" >รับเงินทุนสนับสนุนการศึกษา</li>
          {% elif state.sa_status == 41 %}
              <li class="active" >ยื่นเอกสารให้เจ้าหน้าที่</li>
              <li class="active" >เจ้าหน้าที่ตรวจสอบเอกสาร</li>
              <li class="active" >ผ่านการคัดเลือกสอบสัมภาษณ์</li>
              <li class="active" >รับเงินทุนสนับสนุนการศึกษา</li>
          {% endif %}
            </div>
          </div>
        </div>
{% endfor %}
      <!--จบเนื้อหาส่วนใน-->

    <script type="text/javascript">
      $(document).ready(function () {
        $(".sidebar-btn").click(function () {
          $(".wrapper").toggleClass("collapse");
        });
      });
    </script>
{% endblock %}