<!--หน้ารายชื่อทุนที่คณะกรรมการท่านนั้นทำการสอบสัมภาษณ์-->
{% extends 'Menubar-Template.html' %}
{% load static %}
{% block content %}

{% for user_obj in users_obj %}
    <font size="5">
        <p align='left' >&nbsp;&nbsp;<b>ชื่อ:</b> {{user_obj.first_name}} {{user_obj.last_name}} <b>email:</b> {{user_obj.email}}<br></p>
    </font>
{% endfor %}

<font size="5">
    <p align='left'>&nbsp;&nbsp;<b>รายชื่อทุน:</b></p>
</font>
<font size="4">
    <form action="/viewManageCommitteeHome/{{user_id}}" method="POST" align='left'>
        {% csrf_token %}
        {% for scholar in scholars %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="checkbox" name="idScholar" value="{{scholar.id}}">
            <label for="{{scholar.si_name}}">{{scholar.si_name}}</label><br>
        {% endfor %}

        <input type="submit" value="ยืนยัน" class="btn btn-primary">
    </form> 
</font>
{% endblock %}