{% extends 'Menubar-Template.html' %} 
{% block content %}
<h1 class="title is-4"> สร้างแบบฟอร์มการให้คะแนนสัมภาษณ์ </h1>
{%for info in infoes %}
    <article class="message is-primary">
        <div class="message-header">
          <p>{{info.si_name}} </p>
          <button class="delete" aria-label="delete"></button>
        </div>
        <div class="message-body">
            {{info.si_create_time}}
            <p>เครื่องมือจัดการแบบฟอร์ม</p>
            
            <a href="scholarWeightScore/{{info.id}}"><button class="button is-warning"><p>แก้ไขแบบฟอร์ม</p></button></a>
        </div>
      </article>
   
{% endfor %}
{% endblock %}