{% extends 'Menubar-Template.html' %} 
{% load static %}
{% block content %}

{% for scholar in scholars %}
<article class="message is-success">
<div class="message-header">
    
    <p>ชื่อ: {{scholar.si_name}}</p>
    <a href = "/home"><button   class="delete" aria-label="delete"></button></a>
  </div>

<div class="message-body">
        <img src="{{scholar.si_photo_bg.url}}"><br>
        <h2 align="left">

        รายละเอียด: {{scholar.si_description}} เกรด: {{scholar.si_grade_require}}<br>
        หมายเหตุ: {{scholar.si_note}}<br>
        จำนวนเงินรวม: {{scholar.si_total_amount}}
         จำนวนเงินต่อคน: {{scholar.si_individual_amount}}
         จำนวนคน: {{scholar.si_max_scholar}}<br>
        ที่มาของทุน: {{scholar.si_source}}<br>
        {%for p in datajson.person%} 
            ผู้มอบทุน {{p}}
        {%endfor%}<br>
        สิ้นสุดวันรับสมัคร: {{scholar.si_expire_time}}<br>
        </h2>
        <a href="{{scholar.si_path_to_pdf.url}}"> <button class="button is-danger is-small "><i class="fas fa-file-pdf">  Download เอกสารทางการ </i> </button></a>
    <h2>
</div>
</article>

{% endfor %}

{% endblock %}